 @font-face {
    font-family: amm;
    src: url(./GT-America-Compressed-Bold-Trial.ttf);
 }
*::selection{
    color: aliceblue;
    background-color: #111;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
 #nav{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 99;
    padding: 5px 10px;
    /* position: fixed; */
 }
 #nav h3:nth-child(2){
    display: flex;
    margin-right: 100px;
 }
 #nav h3:nth-child(3){
    display: flex;
    margin-left: 100px;
 }
 #nav h3{
    font-size: 2vw;
    font-family: amm;
    color: #c45508;
    text-transform: uppercase;
    /* transition:cubic-bezier(0.215, 0.610, 0.355, 1); */
   /* border-bottom: 5px 10px solid #c45508; */
   /* width: 0%; */
   position: relative;

 }
 #nav h3:before, h3:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 5px;
  background: #c45508;
  /* top: 26px; */
   /* border-bottom: 5px 100%solid #c45508; */
   transition: cubic-bezier(0.19, 1, 0.22, 1)2s;
   bottom: 0;
   /* left: 0; */
   /* right: 0; */
 }

#nav h3:before{
   left: 0;
  background: #c45508;
  transition: width 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);


 }
 #nav h3::after{
   right: 0;
  background: #c45508;
   transition: width 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
 }
  
 #nav h3:hover:before{
  height: 5px;
  width: 100%;
  transition: width 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  background-color: #c45508;
 }
 #nav h3:hover:after{
   width: 100%;
 }
 #page1{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    font-family: amm;
 }
 #page1 img{
    height: 100%;
    width: 100%;
 }
 #page1 svg{
    /* height: 50px;
    width: 50px; */
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

 }

 #page1 h1{
    width: 100%;
    text-align: center;
    font-size: 14vw;
    position: absolute;
    z-index: 9999;
    bottom: -40px;
    color:  #c45508;
 }
 #page1 h1::before{
    content: "BONDS RANCHERS EST.1885";
    font-size: 1.3vw;
    position: absolute;
    left: 15px;
 }
 #page1 h1::after{
    content: "MARKETING & SELLING TEXAS RANCHERS";
    font-size: 1.3vw;
    position: absolute;
    left: 79vw;
    /* top: 70%; */
 } 
 .overlay{
    height: 100%;
    width: 100%;
    /* background-color: #c45508; */
    position: absolute;
    /* z-index: 9; */
    top: 0;
 }
 .mouse{
    height: 30px;
    width: 70px;
    position: absolute;
    /* top: 50%; */
    background-image: url(./images/buttonDarkBg.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .2s;
    /* opacity: ; */
 }
 .mouse h5{
    position: relative;
    color: #fff;
    word-spacing: 5px;
    display: flex;
 }
 #page2{
   height: 100vh;
   width: 100%;
   background-color:aqua ;
 }